
<!DOCTYPE html>
<html lang="en">
<head>
    <title>majorfitting</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylemain.css') }}">
</head>
<body>
<!-- ========================================navigate=============================-->

	 <nav class="navbar navbar-default" >
        <div class="container-fluid">

            <!-- Logo -->
            <div class="navbar-header">
                <a href="#" class="navbar-brand"><a href="#" class="pull-left"><img alt="Brand" src="static/brand.jpg" width="80px">
                </a></a>
            </div>

            <!-- Menu Items -->
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">main</a></li>
                    <li><a href="/searchbymajor">Search by major</a></li>
                    <li><a href="/searchbytags">Search by tags</a></li>
                    <li><a href="/about">Teammates</a></li>
                </ul>
            </div>



        </div>
    </nav>
    
  <div class="absolute"> <button class="button" onclick="location.href = '/searchbymajor';">search by major</button></div>

    <div class="relative2">
      <button class="button" onclick="location.href = '/searchbytags';">search by tags</button>
  
</div>
   

</body>
</html>